# 服务文件
# 创建 /etc/systemd/system/ChatBI-nanobot.service
[Unit]
Description=ChatBI-nanobot with Gunicorn
After=network.target

[Service]
Type=notify
# User=root
# 项目绝对路径
WorkingDirectory=/var/ChatBI-nanobot
# 虚拟环境路径
Environment="PATH=/var/ChatBI-nanobot/venv/bin"   
ExecStart=/var/ChatBI-nanobot/venv/bin/gunicorn -c /var/ChatBI-nanobot/gunicorn.conf.py stock-bot.web_ui:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target