# 服务文件
# 创建 /etc/systemd/system/gradio-app.service
[Unit]
Description=NewBoyStockBot with Gunicorn
After=network.target

[Service]
Type=notify
User=root                # 替换为你的用户名，不要用 root
Group=www-data
WorkingDirectory=/var/NewBoyStockBot   # 项目绝对路径
Environment="PATH=/var/NewBoyStockBot/venv/bin"     # 虚拟环境路径
ExecStart=/var/NewBoyStockBot/venv/bin/gunicorn -c /var/NewBoyStockBot/gunicorn.conf.py stock-bot.web_ui:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target